*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
  }

  body{
    font-family: sans-serif;
  }

header{
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
}
.provider{
  margin-block-start: 19rem;
}

.provider > h1{
font-size: 5.2rem;
margin-block-end: 4rem;
}

.provider > div{
    font-size: 1.6rem;
    margin-block-end: 4rem;
}

.provider > p{
    font-size: 1.6rem;
    text-decoration: none;
}

.provider > p > a{
    text-decoration: none;
    color: black;
}
.truck-foto{
    max-width: 63.5rem;
    margin-block-start: 10.9rem;
}

.services{
    max-width: 124rem;
    display: flex;
    justify-content: space-between;
    padding-inline: 8rem;
    margin-left: 10rem;
    margin-top: 4.8rem;
    box-shadow: 0 0 3rem #F8F8F8;
    border-radius: 2rem;
    margin-block-end: 100px;
}

.servis{
    max-width: 36rem;
    
}

.services > img{
    margin-block-end: 2.4rem;
}

.malumotlar1{
    display: flex;
    max-width: 124.2rem;
    justify-content: space-between;
   padding-inline: 6.6rem;
    margin-left: 9.8rem;
    margin-block-end: 6.2rem;
}

.malumot1{
    display: flex;
    align-items: center;
    max-width: 44.7rem;
    justify-content: space-between;
    gap: 1.5rem;
}

.malumot2{
    display: flex;
    align-items: center;
    max-width: 44.7rem;
    justify-content: space-between;
    gap: 1.5rem;
}


.malumotlar2{
    display: flex;
    max-width: 124.2rem;
    justify-content: space-between;
   padding-inline: 6.6rem;
    margin-left: 9.8rem;
    margin-block-end: 12rem;
}

.malumot3{
    display: flex;
    align-items: center;
    max-width: 44.7rem;
    justify-content: space-between;
    gap: 1.5rem;
}

.malumot4{
    display: flex;
    align-items: center;
    max-width: 44.7rem;
    justify-content: space-between;
    gap: 1.5rem;
}

.comleted-work{
    margin-left: 10rem;
}

.card{
    margin-block-end: 12rem;
}

.card > img{
    margin-block-end: 2.4rem;
    max-width: 39.3rem;
}

.completed-work-cards{
    display: flex;
    max-width: 123.9rem;
    justify-content: space-between;
    margin-left: 10rem;
}

.dilivery{
    margin-left: 10rem;
}

.stages{
    max-width: 118.3rem;
    display: flex;
    justify-content: space-between;
    padding-inline: 9.6rem;
    padding-block: 2.4rem;
    box-shadow: 0 0 3rem #F8F8F8;
    border-radius: 2rem;
    margin-block-end:2.4rem;
}
.partnerss{
    display: grid;
    
}
.partners1{
    margin-left: 14.6rem;
   display: flex;
   max-width: 121.2rem;
   justify-content: space-between;
   padding-inline: 14.6rem;
}

.logo{
    max-width: 18.4rem;
    margin-block-end: 4.8rem;
}

.partners2{
    margin-left: 14.6rem;
   display: flex;
   max-width: 121.2rem;
   justify-content: space-between;
   padding-inline: 14.6rem;
   align-items: center;
   margin-block-end: 13rem;
}


@media (max-width: 70rem) {

    header{
        display: grid;
    }
    .services{
        display: grid;
    }
    .servis{
        display: flex;
        align-items: center;
        gap: 1rem;
        align-items: center;
    }
    .malumotlar1,
    .malumotlar2{
        display: grid;
         }
         .malumot1,
         .malumot2,
         .malumot3,
         .malumot4{
            margin-block-end: 2.4rem;
         }
         .completed-work-cards{
            display: grid;
            
         }
         .dilivery > .stages > img{
          display: none;
         }
         .partners1,
         .partners2{
            display: grid;
            
         }
         .partnerss{
            display: flex;
           
         }
}